{{set . "title" "MailQ Home"}}
{{template "header.html" .}}

<body>

<div id="wrap">
  <div id="main">
    <div class="jumbotron">
      <div class="container">
        <h1>Tell users your story</h1>
        <div class="col-md-6">
          <p>Every business has a unique story to tell - its past, its goals, its fundamentals and its future. Draw users in and make them part of your story.</p>
          <p><a href="/new" class="btn btn-primary btn-lg">Start Now</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
{{template "footer.html" .}}